.wine-item {
  font-family: "Courgette", cursive;
  background-color: #fff;
  max-width: 400px;
  margin: 25px;
  padding-bottom: 30px;
  text-align: center;
  border: 3px solid #ccc;
  transition: all 0.5s ease-in-out;
}

.wine-item img {
  max-width: 250px;
}

.wine-item:hover {
  border: 3px solid #70ff17;
}

.wine-details {
  font-size: 20px;
  padding: 30px 0;
}

.wine-vote {
  font-family: "Courgette", cursive;
  border: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 30px;
  color: #fff;
  background-color: green;
  cursor: pointer;
}
